.blarney-home-malarkey-svg {
    position: relative;
    z-index: 1000;
}

.blarney-home-malarkey-svg-path {
    position: relative;
    z-index: 1000;
    fill: transparent;
    cursor: pointer;
    fill: rgba(255,255,255,0.2);
}

.blarney-home-malarkey-svg-path:hover {
    fill: rgba(255,255,255,0.5);
}

.blarney-home-malarkey-logo {
    content: '';
    position: absolute;
    width: 300px;
    height:150px;
    left:130px;
    top:530px;
    background-image: url('images/home/malarkey-logo.webp');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 900;
    filter: brightness(200%);
    transform: rotate(-10deg);
}