<div class="blarney-home-clap-trap-div">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="100%" height="100%"
         viewBox="0 0 1122 864"
         class="blarney-home-claptrap-svg">
        <path id="ClapTrapPath"
              fill="rgba(40,40,40,0.5)" stroke="rgba(40,40,40,0.5)" stroke-width="0.5" class="blarney-home-claptrap-svg-path"
              d="M 744.67,579.33
           C 744.67,579.33 936.00,506.67 936.00,506.67
             936.00,506.67 1086.00,661.50 1086.00,661.50
             1086.00,661.50 972.00,862.67 972.00,862.67
             972.00,862.67 740.00,806.67 740.00,806.67
             740.00,806.67 744.67,579.33 744.67,579.33 Z"></path>
    </svg>

    <div class="blarney-home-clap-trap-logo">
    </div>
</div>
