@page "/"

<PageTitle>Blarney</PageTitle>

<div class="blarney-home-controlcenter-bg">
    <div class="blarney-home-map-bg">
        <div class="blarney-home-clap-trap-container">
            <HomeClapTrapComponent></HomeClapTrapComponent>
        </div>
        <div class="blarney-home-malarkey-container">
            <HomeMalarkeyComponent></HomeMalarkeyComponent>
        </div>
    </div>
</div>
